.title{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;

    span{
        color: #2B2B2B;
        font-family: Roboto;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 21px;
    }

    mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i{
            color: #007789;
            font-size: 20px;

            &:hover{
                color: #00B9B3;
            }
        }
    }
}

.subtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 15%;

    span{
        color: #808080;
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
    }
}

.weight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;

    span{
        color: #808080;
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 16px;
    }
}

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 10px;

    mat-form-field{
        width: 100%;
        height: 100%;

        input{
            border: none;
            outline: none;
            font-family: Roboto;
            font-size: 15px;
            letter-spacing: 4px;
            width: 100%;
        }
    }    
}

.buttonsdialog{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: space-between;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        padding: 5px 0px;
        outline: none;
        width: 45%;
        cursor: pointer;
        height: fit-content;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.58px;
        font-family: Roboto;

        &.return{
            background: white;
            border: 1px solid #00899E;
            color: #228196;
        }
    
        &.save{            
            color: white;
            background: linear-gradient(45deg, #007CB9 0%, #00A59F 100%);
            border: none;            
            
            &:hover{
                background: #00B9B3;
            }
        }
    }
}