<div id="externalarchives">
    <ngx-spinner *ngIf="!done"
        bdColor = "rgba(0,0,0,0)"
        size = "default"
        color = "#00B9B3"
        type = "triangle-skew-spin"
        [fullScreen] = "false" >
    </ngx-spinner>

    <ng-container>
        <div id="externalarchivesmain">
            <app-archives-table *ngIf="(!noData && done) && dataValue.length>0" [pageFavorite]="pageFavorite" [dataValue]="dataValue" [isfolder]="isfolder"></app-archives-table>
            <app-no-data *ngIf="noData && done" [page]="getpage"></app-no-data>
        </div>
        <app-sidebar></app-sidebar>
    </ng-container>
</div>