.container-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.card-col {
    padding: 0;
}

.subtitle{
    font-family: 'Roboto';
    font-size: 12px;
    color: #808080;
}

.mat-card-header{
    height: 45px;
}