<div [ngClass]="{'new-guest-password': globalsVar.custom_FE !== 'COBRANDING' && globalsVar.custom_FE !== 'WHITELABEL',
                    'new-guest-password-Cobranding' : globalsVar.custom_FE === 'COBRANDING' || globalsVar.custom_FE === 'WHITELABEL'}">
    <div class="container-outer">
        <div class="container-inner">
            <div class="login-card">
                <div class="card-title">
                    <img *ngIf="globalsVar.custom_FE !== 'WHITELABEL'" class="logo" src="assets/loghi_apps_main/png/vdesk-principale.png">
                    <img *ngIf="globalsVar.custom_FE === 'WHITELABEL'" class="logo" src="{{globalsVar.custom_logo_login ? globalsVar.custom_logo_login : globalsVar.custom_logo}}">
                    <img *ngIf="globalsVar.custom_FE === 'WHITELABEL'" class="logoCobranding" src="assets/img/splash_page/desk-principal-blue.svg">
                    <img *ngIf="globalsVar.custom_FE === 'COBRANDING'" class="logoCobranding" src="{{globalsVar.custom_logo_login ? globalsVar.custom_logo_login : globalsVar.custom_logo}}">
                    <div *ngIf="globalsVar.custom_FE !== 'WHITELABEL'" class="label"> Digital workplace </div>
                    <div class="label2"> {{langService.dictionary.new_password_guest}} </div>
                </div>  
                <span>
                    <div *ngIf="!isLoadingPassword">
                        <form [formGroup]="passwordForm">
                            <div class="login-form">
                                <!-- Old Password -->
                                <mat-form-field style="margin-bottom: 15px">
                                    <input matInput type="password" #oldPassword placeholder="{{langService.dictionary.old_password}}" formControlName="oldPassword" (focus)="passwordIsChanging = true" (blur)="passwordIsChanging = false" required>
                                    <mat-error *ngIf="passwordForm.get('oldPassword').hasError('required')">
                                      {{langService.dictionary.required_field}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('oldPassword').hasError('incorrect')">
                                      {{langService.dictionary.wrong_password}}
                                    </mat-error>
                                </mat-form-field>
                                <!-- New Password -->
                                <mat-form-field style="margin-bottom: 15px">
                                    <input (blur)="hideRules()" (focus)="showRulesFunction()"
                                    matInput type="password" #newPassword placeholder="{{langService.dictionary.new_password}}" formControlName="newPassword" (focus)="passwordIsChanging = true" (blur)="passwordIsChanging = false" required>
                                    <mat-error *ngIf="passwordForm.get('newPassword').hasError('required')">
                                      {{langService.dictionary.required_field}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('newPassword').hasError('minlength')">
                                      {{langService.dictionary.min_length_password}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('newPassword').hasError('maxlength')">
                                      {{langService.dictionary.max_length_password}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('newPassword').hasError('pattern')">
                                      {{langService.dictionary.two_spaces}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('newPassword').hasError('rules')">
                                        {{langService.dictionary.invalid_password}} 
                                    </mat-error>
                                </mat-form-field>
                                <!-- Confirm Password -->
                                <mat-form-field style="margin-bottom: 15px">
                                    <input matInput type="password" #confirmPassword placeholder="{{langService.dictionary.confirm_password}}" formControlName="confirmPassword" (focus)="passwordIsChanging = true" (blur)="passwordIsChanging = false" required>
                                    <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')">
                                      {{langService.dictionary.required_field}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('minlength')">
                                      {{langService.dictionary.min_length_password}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('maxlength')">
                                      {{langService.dictionary.max_length_password}}
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('incorrect')">
                                      {{langService.dictionary.no_confirm_password_match}}
                                    </mat-error>

                                    <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('pattern')">
                                      {{langService.dictionary.two_spaces}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button type="submit" (click)="goTologin()" class="btn login" [disabled]="inProgress">
                                <!-- IN CASE OF LOGIN -->
                                <span *ngIf="!inProgress">{{langService.dictionary.bt_login}}</span>
                                <span *ngIf="inProgress">
                                    {{langService.dictionary.bt_login_progress}} &nbsp; 
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </span>
                            </button>
                        </form>
                    </div>
                    <div *ngIf="isLoadingPassword" class="section-loader-row">
                        <div class="section-loader-col">
                            <div class="spinner-border section-vdesk-spinner" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="newUserRow psw" *ngIf="this.showRules">
                        <div class="istructionPsw col-6">
                            <ul> {{langService.dictionary.psw_must_contain}}:
                                <li>{{langService.dictionary.psw_rules_one}}</li>
                                <li>{{langService.dictionary.psw_rules_two}}</li>
                            </ul>
                        </div>
                        <div class="istructionPsw col-6">
                            <ul>
                                <li> {{langService.dictionary.psw_rules_three}}</li>
                                <li>{{langService.dictionary.psw_rules_four}}</li>
                                <li>{{langService.dictionary.psw_rules_five}}</li>
                            </ul>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
