<div class="title">
  <span> {{ authentication }} </span>
  <mat-icon (click)="onNoClick()"><i class="material-icons"> close </i></mat-icon>
</div>
  
<div class="subtitle">
  <span> {{ confirmpassword }} </span>
</div>

<div class="input">
  <mat-form-field class="example-form-field">
    <mat-label>{{password}}</mat-label>
    <input matInput type="password" [(ngModel)]=inputvalue>
  </mat-form-field>
</div>

<!--<div class="error" *ngIf="error">
  {{ psw_error }}
</div>-->

<div class="buttonsdialog">
  <div class="return" (click)="onNoClick()"><span> {{ cancel }} </span></div>
  <div class="save" (click)="onConfirmClick()"><span> {{ confirm }} </span></div>
</div>