<div id="{dialog_name}" title="{title}">

    <table>
        <tr>
            <td>
                <a href="#" id="btnCades" class="menuitem action action-signfilecades permanent" data-action="signfilecades">
                    <img class="icon" src="/apps/digitalpa_aruba/img/sign-icon.svg" style="width: 25px;position: relative;top: 11px;">
                    <span>Firma Cades</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>

                <a href="#" id="btnPades" class="menuitem action action-signfilepades permanent" data-action="signfilepades">
                    <img class="icon" src="/apps/digitalpa_aruba/img/sign-icon.svg" style="width: 25px;position: relative;top: 11px;">
                    <span>Firma Pades</span>
                </a>

            </td>
        </tr>
    </table>

</div>