<div id="logsform" title="{title}">
    <hr style="color:lightgray">
    <table id="wf-logs-table" style="width: 95%;margin: auto;">
        <thead>
            <tr style="height:30px;">
                <td align="left" style="width:2%" valign="middle">
                </td>
                <td align="left" style="width:20%" valign="middle" class="wf-log-head-logdate">
                    <span><b>Data e Ora</b></span>
                </td>
                <td align="left" style="width:55%" valign="middle" class="wf-log-head-logtext">
                    <span><b>Log Message</b></span>
                </td>
                <td align="left" style="width:15%" valign="middle" class="wf-log-head-loguserid">
                    <span><b>Utente</b></span>
                </td>
                <td align="left" style="width:8%" valign="middle" class="wf-log-head-workflowid">
                    <span><b>Identificativo</b></span>
                </td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>