<div id="{dialog_name}" title="{title}">
    <hr style="color:lightgray">
    <table width="100%" class="table">
        <tr>
            <td>
                <div style="width:100%;">
                    <strong>Oggetto:</strong> <br />
                    <input id="mailSubject" type="text" style="width: 100%;" value="{mailSubject}"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:100%;">
                    <strong>Testo:</strong>
                    <br />
                    <textarea id="mailText" style="width: 100%; height: 300px;">{mailText}</textarea>
                </div>
            </td>
        </tr>
    </table>
</div>