<div id="{dialogId}" title="{title}">
    <hr style="color:lightgray">
    <table id="wf-workflowview-table" style="width: 100%;margin: auto;" data-skip="0" data-page="1">
        <thead>
            <tr style="height:30px;">
                <td align="left" style="width:2%" valign="middle">
                </td>
                <td align="left" style="width:50%" valign="middle">
                    <span><b>Nome</b></span>
                </td>
                <td align="left" style="width:20%" valign="middle">
                    <span><b>Data creazione</b></span>
                </td>
                <td align="left" style="width:8%" valign="middle">

                </td>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot style="display: none;">
            <tr>
                <td colspan="4" style="text-align: center;">
                    <button id="btnWorkflowviewBack" style="width: 100px;">
                        <span class="icon-play-previous" style="opacity: 1;cursor: pointer;" >&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </button>
                    <button id="btnWorkflowviewNext" style="background-color: var(--color-primary-element-light);width: 100px;">
                        <span class="icon-play-next-white" style="opacity: 1;cursor: pointer;" >&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </td>

            </tr>
        </tfoot>
    </table>
</div>