<div id="emptyPostItItem" class="post-it-item container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="post-it-image">&nbsp;</div>
        </div>
        <div class="col-md-6 post-it-date">
            <div class="empty-background-color empty-date-div">&nbsp;</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 post-it-title">
            <div class="empty-background-color empty-title-div">&nbsp;</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 post-it-descr">
            <div class="empty-background-color empty-description-div">&nbsp;</div>
            <div class="empty-background-color empty-description-div mt-2">&nbsp;</div>
        </div>
    </div>
    <div class="row done-btn-row">
        <div class="col-md-12 post-it-done-btn">
            <div class="empty-background-color empty-done-btn-div">&nbsp;</div>
        </div>
    </div>
</div>
