<div id="emptyFeedItem" class="container-fluid feed-item">
    <div class="row empty-feed-row">
        <div class="col-md-10">
            <div class="feed-title">
                <div class="empty-background-color empty-title-div">&nbsp;</div>
            </div>
            <div class="feed-description">
                <div class="empty-background-color empty-description-div">&nbsp;</div>
            </div>
            <div class="feed-source">
                <div class="empty-background-color empty-description-div">&nbsp;</div>
            </div>
        </div>
        <div class="col-md-2 feed-image-col">
            <div class="container-no-image">
                <i class="material-icons-outlined no-image-icon">article</i>
            </div>
        </div>
    </div>  
</div>
