#emptyFeedItem.feed-item {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    height: 81px;

    .empty-feed-row {
        height: 81px;
    }
    
    .feed-title {
        margin: 15px 0px 10px 0;
    }
    
    .feed-description {
        margin: 10px 0 11px;
    }
    
    .feed-source {
        margin: 11px 0 10px 0;
    }

    .feed-image-col {
        text-align: right;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .feed-image {
        width: 62px;
        height: 62px;
        border-radius: 10px;
        margin-right: 5px;
        object-fit: cover;
    }

    .container-no-image{
        width: 62px;
        height: 62px;
        border-radius: 10px;
        margin-right: 5px;
        background-color: #ececec;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #808080;
    }

    .no-image-icon {
        opacity: 0.5;
    }

    .empty-background-color {
        background-color: #ececec;
        border-radius: 3px;
    }

    .empty-title-div {
        width: 310px;
        height: 10px;
    }

    .empty-description-div {
        width: 510px;
        height: 10px;
    }
}
