<div id="recents">
    <ngx-spinner *ngIf="!done"
        bdColor = "rgba(0,0,0,0)"
        size = "default"
        color = "#00B9B3"
        type = "triangle-skew-spin"
        [fullScreen] = "false" >
    </ngx-spinner>

    <ng-container>
        <div id="recentsmain">
            <app-table *ngIf="(!noData && done) && dataValue.length>0" [dataValue]="dataValue" [getpage]="getpage" [pageFavorite]="pageFavorite"></app-table>
            <app-no-data *ngIf="noData && done" [page]="getpage"></app-no-data>
        </div>
        <app-sidebar [page]="getpage"></app-sidebar>
    </ng-container>
</div>
