#postItItem.post-it-item {
    width: 211px;
    height: 131px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fffcea;
    display: flex;
    flex-direction: column;

    .post-it-image {
        float: left;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        text-align: center;
        font-family: 'SFProDisplay';
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .share-icon {
        font-size: 14px;
        cursor: default;
    }

    .post-it-date {
        font-family: 'Roboto';
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #808080;
    }

    .post-it-title {
        margin-top: 6px;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2b2b2b;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post-it-descr {
        margin-top: 10px;
        font-family: 'Roboto';
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        color: #808080;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .done-btn-row {
        margin-top: auto;
    }

    .post-it-done-btn {
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #00396a;
        cursor: pointer;
    }

    .post-it-completed-btn {
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #808080; 
        align-content: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .check-icon {
            font-size: 18px;
            margin-right: 12px;
        }
    }
}

