.digital-signature-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.signature-box-cont {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.signature-box-cont::-webkit-scrollbar {
    display: none;
}

// .sidebar-box {
//     display: flex;
//     /*flex-direction: column;*/
//     height: 100%;
//     width: 20%;
//     background-color: #f0f0f0;
// }

.flex-radio-group {
    display: flex; 
    flex-direction: column;
}

.button-back, .button-confirm, .button-cambia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.58px;
    border: 1px solid #368BA2;
    padding: 7px 14px;
    outline: none;
    text-transform: uppercase;

    &:disabled{
        background: linear-gradient(45deg, #007CB954 0%, #00A59F54 100%);
    }
}

.button-back {
    cursor: pointer;
    width: 205px;
    height: 30px;
    color: #368BA2;

    &:hover{
        background: #00B9B3;
        color: white;
    }
}

.button-confirm {
    cursor: pointer;
    width: 205px;
    height: 30px;
    margin-left: 30px;
    background: linear-gradient(45deg, #007CB9 0%, #00A59F 100%);
    color: white;

    &:hover{
        background: #00B9B3;
    }    
}

.button-cambia {
    cursor: pointer;
    width: 98px;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    bottom: 18px;
    background: linear-gradient(45deg, #007CB9 0%, #00A59F 100%);
    color: white;

    &:hover{
        background: #00B9B3;
    } 
}

.title {
    font-family: 'Roboto';
    font-size: 18px;
    color: #2B2B2B;
    padding-top: 21px;
}

.row {
    padding-left: 21px;
}

.buttons-row {
    padding-top: 40px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.label-col-width {
    max-width: 97px !important;
}

.radio-width {
    max-width: 75px;
}

.label-text {
    font-family: 'Roboto';
    font-size: 14px;
}

.normal-input {
    max-width: 335px !important;
}

.flex-input {
    max-width: 225px !important;
    margin-left: 36px;
}

mat-form-field {
    width: 100%;
}

/*** TOAST MESSAGE: Mat Snackbar CSS START ***/
.toast-success {
    background-color: #007CB8;
    color: white;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .toast-error {
    background-color: rgba(255, 0, 0, 0.493);
    color: #2B2B2B;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .toast-info {
    background-color: #FFFFFF;
    color: #007CB8;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
  /*** TOAST MESSAGE: Mat Snackbar CSS END ***/
