.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20%;

    .divHead{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .title{
            font-family: Roboto;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #383838;
        }

        .subtitle{
            font-family: Roboto;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #808080;
        }
    }

    mat-icon{
        cursor: pointer;
    }
}

.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60%;

    mat-form-field{
        width: 90%;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 20%;

    button{
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.58px;
        text-align: center;
        text-transform: uppercase;

        &.remove{        
            color: #228196;
            padding: 8px 48px;
            border-radius: 3px;
            border: solid 1px #00899e;
            margin-right: 20px;
        }
    
        &.save{
            color: white;
            padding: 8px 58.5px 8px 59.5px;
            border-radius: 3px;
            background-image: linear-gradient(to right, #00a59f 0%, #007cb9 100%);
        }
    }
}