<div id="{dialog_name}" title="Generazione documento">
    <hr style="color:#e9ecef">
    <div style="margin-top: 20px;">
        <h2  id="signtitle">Seleziona la directory dove salvare il file</h2>
        <div style="margin-top: 20px">
            <div style="margin-top: 10px">
                <p>Il documento sarà salvato in</p>
                <input style="width: 300px" type="text" placeholder="" id="tbPath" value="" autocomplete="off" autocapitalize="none" autocorrect="off">
                <button id="bnlhr-directory" class="bnlhr-button-white " style="width: 150px">Seleziona</button>
            </div>
        </div>
    </div>
</div>