<div id="{dialog_name}" title="{title}">
    <iframe id="ifrmPec" src="{appmailurl}" style="width: inherit;height: 454px;display:none"></iframe>
    
    <!-- <hr style="color:lightgray">
    <table width="100%" class="table">
        <tr>
            <td>
                <div style="width:100%;">
                    <strong>A:(inserire più email separate da ; )</strong><br>
                    <input id="tbTo" type="text" style="width: 100%;" value=""/>
                </div>
            </td>
        </tr>
        
        <tr>            
            <td>
                <div style="width:100%;">
                    <strong>Oggetto:</strong> <br />
                    <input id="tbSubject" type="text" style="width: 100%;" value=""/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:100%;">
                    <strong>Testo:</strong>
                    <br />
                    <textarea id="txtBody" style="width: 100%; height: 200px;"></textarea>
                </div>
            </td>
        </tr>
    </table> -->
</div>