//importo solamente la parte relativa le breakpoint grid
@import "~bootstrap/scss/bootstrap-grid.scss";
.fileSharing-checkbox {
  @include media-breakpoint-down(sm) {
    padding: 0 1rem;
  }
}

.fileSharing-icon {
  cursor: pointer;
    @include media-breakpoint-down(sm) {
      padding-right: 1rem;
    }
}

//table width every column
.tableimage{
  width: 3%;
  mat-icon{
    i{
      color: #00396A;
    }
  }
}

.tablecheckbox{
  width: 5%;
}

.tablename{
  width: 57%;
  font-size: 13px;
  letter-spacing: 0;
  color: #2B2B2B;
  &.head{
    color: #848484;
    font-size: 11px;
  }
  .tableiconname{
    width: fit-content;
    height: auto;
    display: flex;
    i.star{
      padding-left: 10px;
      color: #FDCA0B;
      font-size: 13px;
    }
    i.lock{
      padding-left: 10px;
      color: #46ABDB;
      font-size: 13px;
    }
  }
}

.tableweight,
.tableupdate{
  width: 10%;
  font-size: 11px;
  letter-spacing: 0;
  color: #2B2B2B;
  &.head{
    color: #848484;
  }
}
.tableaction{
  width: 5%;
}
.tablefoot{
  color: #848484;
  font-size: 11px;
  letter-spacing: 0;
}

.nameSingleFile{
  cursor: pointer;

  .divNameSingleFile{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .spanNameFile{}
    .spanExtensionFile{
      color: #8e8d8d;
    }
  }

  .changeNameFileDiv{
    display: flex;
    position: relative;
    align-items: center;

    .changeNameFileInput{
      width: 90%;
      outline: none;
      border-radius: 6px;
    }
    .changeNameFileI{
      position: absolute;
      left: 82%;
      color: rgb(0, 139, 139);
      cursor: pointer;
    }
  }
}

::ng-deep .datetooltip{
  background-color: #00396A;
  color: white !important;
  border-radius: 3px;
}

.columnTableID {
  display: none;
}

.mat-icon {
  .material-icons.lens {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}