<div id="pathFolder" [ngClass]="{'dialog': class}">
    <div id="drawPathFolder">
        <div class="drawPathFolderHome" (click)="navigateHome()"> {{ getTitleHome }} </div>
        <div class="insidefolder" *ngIf="name">
            <mat-icon><i class="material-icons arrowright"> keyboard_arrow_right </i></mat-icon>
            <span> {{ name }} </span>
        </div>
        <div class="insidefolder" *ngIf="!name">
            <table mdbTable>
                <thead></thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let el of array">
                    <td>
                        <mat-icon><i class="material-icons arrowright"> keyboard_arrow_right </i></mat-icon>
                        <span (click)="returnToPath(el)"> {{ el }} </span>                        
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>