<div class="title">
    <span>{{title}}</span>
    <mat-icon (click)="onNoClick()"><i class="material-icons"> close </i></mat-icon>
</div>

<div class="subtitle">
    <span>{{insertOtp}}</span>
</div>

<div class="input">
    <mat-form-field class="example-form-field">
        <mat-label>{{sign}}</mat-label>
        <input matInput type="password" [(ngModel)]=inputvalue>
    </mat-form-field>
</div>

<div class="buttonsdialog">
    <div class="return" (click)="onNoClick()"><span>{{dictCancel}}</span></div>
    <div class="save" (click)="onConfirmClick()"><span>{{dictOk}}</span></div>
</div>