// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "~bootstrap/scss/bootstrap-grid.scss";

@import '~simplebar/dist/simplebar.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
  
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// define custom mat-palette
$bv-brand: (
    50: #E2EBFD,
    100: #BDCEE2,
    200: #BDCEE2,
    300: #46ABDB,
    400: #46ABDB, // lock icon color
    500: #007CB8, // table icon color
    600: #006BA3, // Seconda grad. dashboard content
    700: #00396A, // Seconda grad. Header 2° livello - Prima grad. dashboard content
    800: #022E53, // Seconda grad. Header 1° livello - Prima grad. Header 2° livello
    900: #061B2D, // Prima grad. Header 1° livello
    A100: #FFFFFF,
    A200: #81D4D3,
    A400: #3085FF,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: #5486A8,
        A200: #D7E6E8,
        A400: #eceaea,
    )
);

$bv-secondary: (
  500: #007789,
  contrast: (
    500: white,
  )
);

//$vdesk-primary: mat-palette($mat-indigo);
$vdesk-primary: mat-palette($bv-brand, 500, A100, A200);
$vdesk-accent: mat-palette($bv-secondary, 500);
// The warn palette is optional (defaults to red).
$vdesk-warn: mat-palette($mat-red);  //mat-palette($bv-custom, 500); 

// Create the theme object (a Sass map containing all of the palettes).
$vdesk-theme: mat-light-theme($vdesk-primary, $vdesk-accent, $vdesk-warn);

$scrollbar-color: #B2D7E9;
$scrollbar-color-hover: #007CB8;
$setting-pages-bg-color: #F0F0F0;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vdesk-theme);

// Set palette for dashboard progress bar
.dash-progress{
  .mat-progress-bar-fill::after {
    background-color: mat-color($vdesk-primary, A100);
  }
  .mat-progress-bar-buffer {
    background: #5486A8;
  }
}
// Set palette for VPEC progress bar
.vpec-progress{  
  .mat-progress-bar-fill::after {
    background-color: mat-color($vdesk-primary, A200);
  }
  .mat-progress-bar-buffer {
    background: #D7E6E8;
  }
}
.vpec-progress.mat-progress-bar {
  height: 6px;
}

/* You can add global styles to this file, and also import other style files */

$vdesk-color: (
  blue: #000022, 
  blue2: #252E48,
  grey: #374857,
  light-grey: #536d84,
  white: #FFFFFF
);


$containers-sup-height: 100%;
//$containers-sup-margin: 1.5rem;
:root {  
  --nav-border: #{map-get($vdesk-color, grey)};
  --bg-main: #{map-get($mat-grey, 300)};
  //--bg-search: #{map-get($vdesk-color, black)};
  --white: #{map-get($vdesk-color, white)};
  --grey: #{map-get($vdesk-color, grey)};

  --dark-grey: #{map-get($mat-grey, 600)};
  --db-header: #{map-get($vdesk-color, blue2)};

  --vdesk-color-grey: #{map-get($vdesk-color, grey)};
  --bg-color-bt: linear-gradient(90deg, #00A59F, #007CB9);

  --cobranding-color: linear-gradient(180deg, #022E53 0%, #00396A 100%);
  --central-font-color: #ffffff;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(assets/fonts/SFProDisplay-Regular.ttf);
}

/*** VDESK STYLE FOR TINY SCROLLBAR ***/
.tiny-scrollbar {
  scrollbar-width: thin; // Firefox
  scrollbar-color: $scrollbar-color transparent;
  &::-webkit-scrollbar { // Chrome, Edge, Safari and Opera
      width: 6px;
      height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 3px;
    &:hover {
      background: $scrollbar-color-hover;
    }
    &:focus {
      background: $scrollbar-color-hover;
    }
  }
}
/*** VDESK STYLE FOR DEFAULT SCROLLBAR ***/
.default-scrollbar {
  scrollbar-width: thin; // Firefox
  scrollbar-color: $scrollbar-color transparent;
  &::-webkit-scrollbar { // Chrome, Edge, Safari and Opera
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 4px;
    &:hover {
      background: $scrollbar-color-hover;
    }
    &:focus {
      background: $scrollbar-color-hover;
    }
  }
}


html {
  font-size: 16px;
}
html,
body {
  //height: 100%;
  height: 100vh;
  overflow-y: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  /*** TOAST MESSAGE: Mat Snackbar CSS START ***/
  .toast-success {
    background-color: #007CB8;
    color: white;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .toast-error {
    background-color: #ff4000; // rgba(255, 0, 0, 0.493);
    color: #ffffff; // #2B2B2B;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .toast-info {
    background-color: #FFFFFF;
    color: #007CB8;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }

  .toast-grey {
    padding: 20px 16px;
    border-radius: 10px;
    background-color: #4c4c4c;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
  /*** TOAST MESSAGE: Mat Snackbar CSS END ***/
  /* add account dialog */
  .mat-dialog-container {
    overflow: hidden;

    app-add-account-dialog {
      .mat-progress-bar-fill::after {
        background-color: mat-color($vdesk-primary, 700);
      }

      .mat-progress-bar-buffer {
        background: #46ABDB;
      }
    }
  }

  .modal-backdrop {
    z-index: 998;
  }
  /*** HEADER SEARCH SELECT START ***/
  // Mat-select style for searchbar
  .cdk-overlay-pane {
    transform: none;
    transform: translateX(0px) !important;
  }

  .mat-search-select {
    .mat-select-value {
      color: #FFFFFF;
    }
  }

  .mat-select-value {
    padding-left: 8%;
  }

  .my-mat-select-panel {
    background: #007789;
    border-radius: unset;
    margin-top: 15%; // Set the panel position below the select
    min-width: 100% !important;
    animation-name: testforselect !important;
    animation-duration: 0.3s !important;

    .mat-option {
      color: #FFFFFF;

      &.mat-active {
        color: rgba(255,255,255,0.5);
      }
    }

    .mat-option:hover {
      background: #00B9B3;
      color: #FFFFFF;
    }

    .mat-option.mat-selected:not(.mat-option-disabled) {
      background: #007789;
      color: rgba(255,255,255,0.5);
    }
  }

  @keyframes testforselect {
    /* from {opacity: 0;}
    to {opacity: 1;} */
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  /*** HEADER SEARCH SELECT END ***/
  /*** VPEC ACCOUNT SELECT START ***/
  #mailSidebar {
    mat-form-field.account-select {
      font-size: 13px;

      img.profile_pic {
        border-radius: 50%;
      }

      .mat-form-field-infix {
        width: 150px;

        .mat-select-value {
          padding-left: 8%; //2%;
        }
      }
    }
  }

  .account-select-panel {
    background: #007789;
    border-radius: unset;
    margin-top: 11%; // Set the panel position below the select
    min-width: 100% !important;
    transform: scaleY(1) translateX(-20px) !important;

    .mat-option {
      color: #FFFFFF;
      font-size: 13px;
      //line-height: 2em;
      //height: 2em;
      &.mat-active {
        color: rgba(255,255,255,0.5);
      }
    }

    .mat-option:hover {
      background: #00B9B3;
      color: #FFFFFF;
    }

    .mat-option.mat-selected:not(.mat-option-disabled) {
      background: #007789;
      color: rgba(255,255,255,0.5);
    }
  }
  /*** VPEC ACCOUNT SELECT END ***/
  /*** MAT-AUTOCOMPLETE PANEL style for searchbar START ***/
  .my-chip-auto-panel {
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    border-radius: 0 0 3px 3px;
    // Hide scrollbar, but scrolling
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE and Edge
    &::-webkit-scrollbar { // Chrome, Safari and Opera
      display: none;
    }

    .description {
      color: rgba(64,64,63,0.6);
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 11px;
      letter-spacing: 0;
      line-height: 13px;
      padding: 2% 3%;
    }
  }

  .my-chip-auto-panel .mat-option .mat-option-text .auto-option {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #007789;
    border-radius: 3px;
    color: #2B2B2B;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 16px;
    vertical-align: middle;

    .mat-icon.add-icon {
      color: #007789;
      font-size: 15px;
      line-height: 15px;
      height: 16px;
      margin: 0px;
      padding-left: 5px;
    }
  }
  /*** MAT-AUTOCOMPLETE PANEL style for searchbar END ***/
  /*** MAT-MENU PANEL style for HEADER apps icon START ***/
  .launcher-menu-panel {
    overflow: unset;
    display: flex;
    padding: 18px 18px 12px 18px;

    .mat-menu-content {
      width: auto;
      padding-top: unset;
      padding-bottom: unset;
    }

    .custom-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;

      .custom-col {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;

        .bt-launcher {
          cursor: pointer;
          height: 4.25rem; //68px;
          color: #2B2B2B;
          font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 10px !important;
          font-weight: bold;
          letter-spacing: 0;
          text-align: center;

          &:hover {
            opacity: 0.5;
          }

          &.vconnect {
            margin-left: 3px;
            margin-right: 3px;
          }

          .mat-icon.home {
            width: 42px;
            height: 42px;

            &.material-icons {
              font-size: 42px;
            }
          }

          img.app-type {
            height: 42px;
            width: 42px;
          }

          .label {
            margin: 0;
            padding: 0;
            line-height: 16px;
          }

          a:link,
          a:visited,
          a:hover,
          a:active {
            text-decoration: none;
            color: unset;
          }
        }
      }
    }
  }
  /*** MAT-MENU PANEL style for HEADER apps icon END ***/
  /*** MAT-AUTOCOMPLETE PANEL style for INPUT in SHARE TAB START ***/
  .my-share-auto-panel {
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    border-radius: 0 0 0 0;
    // Hide scrollbar, but scrolling
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE and Edge
    &::-webkit-scrollbar { // Chrome, Safari and Opera
      display: none;
    }
  }

  .my-share-auto-panel .mat-option {
    height: 34px;
    font-size: 12px;
    line-height: 30px;

    img.profile_pic {
      border-radius: 50%;
      margin-right: 5px;

      &.groupuser{
        height: 30px;
        width: 30px;
      }
    }
  }
  /*** MAT-AUTOCOMPLETE PANEL style for INPUT in SHARE TAB END ***/

  .containers-sup {
    height: $containers-sup-height;
    //margin: 0 $containers-sup-margin;
  }

  .headerMain {
    background: linear-gradient(180deg, #061B2D 0%, #022E53 100%);
    height: 8.93vh; //65px;
    /*
    @include media-breakpoint-up(sm) {
      height: 16%;
    }
    @include media-breakpoint-up(md) {
      height: 8%;
    }
    */
  }

  .headercobranding {
    background: var(--cobranding-color);
    height: 8.93vh; //65px;
    /*
    @include media-breakpoint-up(sm) {
      height: 16%;
    }
    @include media-breakpoint-up(md) {
      height: 8%;
    }
    */
  }

  main {
    height: 100vh; /* Get the viewport height */
    // width: 100vw; /* Get the viewport width */
    //overflow-y: auto;
    overflow-y: hidden;
    background-color: var(--bg-main);
    /*
    @include media-breakpoint-up(sm) {
      height: 84%;
    }
    @include media-breakpoint-up(md) {
      height: 92%;
    }
    */

    app-guests-settings{
      button{
        .mat-button-focus-overlay {
          background-color: transparent !important;
        }
      }
    }

    app-dashboard,
    app-settings,
    app-mail,
    app-calendar {
      height: 91.07vh; //100%;
    }

    app-file-sharing {
      display: flex;
      flex-direction: column;
      height: 91.07vh; //100%;
      width: 100%;
    }
    /* ADMIN SETTINGS */
    #adminSettings {
      app-config-panel {
        height: 94%;
      }

      app-users,
      app-disableuser,
      app-samluser,
      app-ldapuser,
      app-user-search,
      app-groups,
      app-singlegroup {
        height: 94%;
        width: 100%;
        background-color: #F0F0F0;
        padding: 1%;
        display: flex;
        flex-direction: column;
        background-color: white;
      }

      app-users,
      app-user-search,
      app-disableuser,
      app-groups {
        overflow-y: auto;

        button.mat-menu-item:focus {
          outline: none !important;
        }

        .infinite-scroll-container {
          #settingsUser {

            app-usertable {
              mat-form-field {
                &.input {
                  .mat-form-field-infix {
                    width: 96%;
                  }
                }

                &.select {
                  .mat-form-field-infix {
                    width: 175px;
                  }
                }
              }

              .mat-menu-content {
                button:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
    /*SETTINGS START*/
    #settings {

      app-config-panel {
        height: 94%;
      }

      .mat-list-item-content {
        width: 100%;
      }

      .mat-content {
        width: 100%;

        .mat-icon {
          flex-basis: 20%;
          color: map-get($vdesk-color, light-grey);

          &.secondIcon {
            flex-basis: auto;

            &.active {
              transform: rotate(180deg);
            }
          }
        }
      }
      /* pages */
      app-samluser,
      app-ldapuser,
      app-user-search,
      app-groups,
      app-singlegroup {
        height: 94%;
        width: 100%;
        background-color: #F0F0F0;
        padding: 1%;
        display: flex;
        flex-direction: column;
        background-color: white;
      }

      app-users,
      app-disableuser{
        height: 94%;
        width: 100%;
        background-color: #F0F0F0;
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9; 
      }

      app-users,
      app-user-search,
      app-disableuser,
      app-groups,
      app-samluser-settings,
      app-samluser-disabled {
        overflow-y: auto;

        button.mat-menu-item:focus {
          outline: none !important;
        }

        .infinite-scroll-container {
          #settingsUser {

            app-usertable, app-samluser-table {
              mat-form-field {
                &.input {
                  .mat-form-field-infix {
                    width: 96%;
                  }
                }

                &.select {
                  .mat-form-field-infix {
                    width: 175px;
                  }
                }
              }

              .mat-menu-content {
                button:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }

      app-singlegroup{
        mat-form-field {
          &.input {
            .mat-form-field-infix {
              width: 96%;
            }
          }

          &.select {
            .mat-form-field-infix {
              width: 175px;
            }
          }
        }
      }

      app-profile,
      app-device-session,
      app-authentication,
      app-encryption,
      app-configurations {
        height: 94%;

        .mat-table {
          background: transparent;

          tr.mat-row:first-child {
            border-top: 1px solid #B4B4B4;
          }

          td.mat-cell {
            border-bottom-color: #B4B4B4;
          }
        }
      }

      &.screen {
        mat-drawer-content {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;

          app-profile,
          app-device-session,
          app-authentication,
          app-encryption,
          app-configurations {
            height: 94%;
            width: 100%;
            overflow-y: auto;
          }
        }
      }
    }
    /* SETTINGS END*/
    /*FILE SHARING LEFT LIST START*/
    #fileSharing {

      #fsMainDrawer {
        .mat-list-item-content {
          padding-left: 0px;
        }
      }

      #fsListImages {
        .mat-list-item-content {
          padding: 0px 10px;
          justify-content: center;
        }
      }
      /*
      .mat-accordion {        
        a {
          color: map-get($vdesk-color, grey);
        }
      }
      */

      .mat-list-item-content {
        width: 100%;
      }


      .mat-content {
        width: 100%;

        .mat-icon {
          flex-basis: 20%;
          color: map-get($vdesk-color, light-grey);

          &.secondIcon {
            flex-basis: auto;

            &.active {
              transform: rotate(180deg);
            }
          }
        }
      }
      /*
      .mat-expansion-panel-header {
        .mat-expansion-indicator {
          display: none;
        }
      }

      .mat-expansion-panel-body {
        padding: 0 24px;
        .fileSharingChildList {
          .mat-icon {
            flex-basis: 20%;
            color: map-get($vdesk-color, grey);
          }
        }
      }
      */

      app-digital-signature {
        height: 94%;
      }
      /*TABLE FILE SHARING ALL LIST / RECENTS START*/
      app-all-files,
      app-deleted,
      app-folder,
      app-recents,
      app-favorites,
      app-shares,
      app-shared-by-you,
      app-shared-by-others,
      app-shared-by-link,
      app-shares-deleted,
      app-search-result,
      app-group-folder,
      app-externalarchives,
      app-vpec,
      app-vflow,
      app-signed-documents-folder,
      app-protected-files {
        height: 94%;

        #all-files,
        #recents,
        #favorites,
        #deleted,
        #folder,
        #shares,
        #shared-by-you,
        #shared-by-others,
        #shared-by-link,
        #shares-deleted,
        #search-result,
        #group-folder,
        #externalarchives,
        #vpec,
        #vflow,
        #signed-documents-folder,
        #protected-files {
          .tableDiv {
            height: 100%;
            overflow-y: auto;
            background-color: white;

            app-no-data {
              width: 100%;
              height: 100%;
              z-index: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            table {
              width: 100%;
              border-collapse: collapse;
              box-shadow: none !important;

              tbody tr {
                td.senddetails i {
                  display: inline-block;
                  cursor: pointer;
                }

                &.mat-row:hover {
                  background-color: #007CB826;
                }

                &.mat-row.selectedrow {
                  background-color: #007CB826;
                }
              }

              td.mat-cell {
                position: relative;
              }

              td.senddetails {
                width: 6%;

                i {
                  display: none;
                }
              }

              mat-icon.mat-icon {
                vertical-align: middle;

                &.tableimage {
                  display: flex;
                }
              }

              mat-checkbox {
                label {
                  margin: 0px;
                }
              }
            }
          }

          .sidebarFileSharing .sfsEvent {
            mat-tab-group mat-tab-header {
              .mat-tab-header-pagination {
                display: none;
              }

              .mat-tab-label-container {
                .mat-tab-list {
                  width: 100%;

                  .mat-tab-labels {
                    width: 100%;

                    div.mat-tab-label {
                      padding: 0px 10px;
                      min-width: 25%;
                    }

                    mat-ink-bar {
                      width: 25%;
                    }
                  }
                }
              }
            }
          }
        }

        #recents,
        #favorites{
          .tableDiv {
            table {
              mat-icon.mat-icon {
                &.tableimage {
                  align-items: center;
                  margin: 0px;
                  width: 100%;
                  justify-content: center;
                }
              }
            }
          }
        }

        #vpec{
          .tableDiv {
            table {
              mat-icon.mat-icon {
                &.tableimage {
                  align-items: center;
                  margin: 0px;
                  justify-content: center;
                }
              }
            }
          }
        }
      }

      app-all-activities,
      app-your-activities,
      app-others-activities,
      app-act-favorites,
      app-calendar,
      app-file-changes,
      app-file-shares,
      app-security,
      app-task {
        height: 94%;
        width: 100%;
        background-color: #F0F0F0;

        .tableDiv {
          max-height: 100%;
          min-height: 100%;
          overflow-y: auto;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

          table {
            width: 100%;
          }
        }
      }
      //SETTINGS START
      app-settings-externalarchives {
        overflow: auto;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE and Edge
        &::-webkit-scrollbar { // Chrome, Safari and Opera
          display: none;
        }

        .mat-select-value {
          padding-left: 3%;
        }
      }

      app-signature-settings-form {
        height: 94%;
        overflow-y: auto;
        background-color: white;
      }
      /* Hide scrollbar for Chrome, Safari and Opera */
      app-signature-settings-form::-webkit-scrollbar {
        display: none;
      }
      /* Hide scrollbar for IE, Edge and Firefox */
      app-signature-settings-form {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      app-activitiesandnotifications,
      app-applications,
      app-settings-externalarchives,
      app-groupfolders,
      app-signature-settings {
        height: 94%;
        width: 100%;
        background-color: #F0F0F0;
        padding: 1%;
        display: flex;
        flex-direction: column;
        background-color: white;

        .svshareListElement {
          .svshareCheckbox {
            mat-checkbox {
              &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
                background: #00396A;
              }

              label.mat-checkbox-layout div.mat-checkbox-inner-container {
                &:hover {
                  div.mat-ripple-element {
                    background: transparent;
                  }
                }
              }
            }
          }
        }
      }

      app-users,
      app-disableuser,
      app-samluser,
      app-ldapuser,
      app-user-search,
      app-groups,
      app-singlegroup {
        height: 94%;
        width: 100%;
        background-color: #F0F0F0;
        padding: 1%;
        display: flex;
        flex-direction: column;
        background-color: white;
      }

      app-users,
      app-user-search,
      app-disableuser,
      app-groups {
        overflow-y: auto;

        button.mat-menu-item:focus {
          outline: none !important;
        }

        .infinite-scroll-container {
          #settingsUser {

            app-usertable {
              mat-form-field {
                &.input {
                  .mat-form-field-infix {
                    width: 96%;
                  }
                }

                &.select {
                  .mat-form-field-infix {
                    width: 175px;
                  }
                }
              }

              .mat-menu-content {
                button:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
      //SETTINGS END

      app-tag {
        height: 94%;
      }

      app-labels {
        height: 94%;

        #labels {
          .tableDiv {
            max-height: 100%;
            min-height: 100%;
            overflow-y: auto;
            background-color: white;

            table {
              width: 100%;
              border-collapse: collapse;
              box-shadow: none !important;

              tbody tr {
                td.senddetails i {
                  display: inline-block;
                  cursor: pointer;
                }

                &.mat-row:hover {
                  //background-color: rgba(0, 0, 0, 0.09);
                  background-color: #d8eff6;
                }
              }

              td.mat-cell {
                position: relative;
              }

              td.senddetails {
                width: 6%;

                i {
                  display: none;
                }
              }

              mat-icon.mat-icon {
                vertical-align: middle;
                color: black;
              }

              mat-checkbox {
                label {
                  margin: 0px;
                }
              }
            }
          }
        }
      }

      #shares,
      #shared-by-you,
      #shared-by-others,
      #shared-by-link,
      #shares-deleted {
        .mat-cell.table-col-img {
          text-align: center;
          justify-content: center;
        }

        .mat-cell.table-col-share {
          text-align: left;
          width: 15%;
        }

        .mat-cell.table-col-time {
          width: 15%;
        }

        .noData {
          text-align: center;
          justify-content: center;

          .mat-icon {
            font-size: 5rem;
            width: auto;
            height: auto;
          }
        }
      }
      /*TABLE FILE SHARING ALL LIST END*/
      &.screen {
        mat-drawer-content {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;
          /*TABLE FILE SHARING ALL LIST / RECENTS START*/
          app-all-files,
          app-deleted,
          app-folder,
          app-recents,
          app-favorites,
          app-shares,
          app-shared-by-you,
          app-shared-by-others,
          app-shared-by-link,
          app-shares-deleted,
          app-labels,
          app-externalarchives,
          app-search-result,
          app-group-folder,
          app-vpec,
          app-vflow,
          app-protected-files {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    /*FILE SHARING LEFT LIST END*/

    #listFileSettingInner {
      .mat-list-item-content {
        padding: 0px 6px;
      }
    }
    /* MAIL GENERAL START*/
    #mail {
      app-inbox {
        height: 94%;

        app-message-list {
          height: 100%;
        }
      }

      app-settings {
        //height: 100%;
        background-color: $setting-pages-bg-color;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE and Edge
        &::-webkit-scrollbar { // Chrome, Safari and Opera
          display: none;
        }
      }

      &.screen {
        mat-drawer-content {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;
        }
      }
    }
    /* MAIL GENERAL END*/
  }

  .application-type-shadow {
    -webkit-box-shadow: 4px 5px 13px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 5px 13px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 5px 13px -1px rgba(0, 0, 0, 0.75);
  }

  .loader {
    position: fixed;
    z-index: 99999;
    width: 10%;
    height: 15%;
    left: 45%;
    top: 42%;
  }

  app-vshare-upload-dialog,
  app-dialog-table {
    .tableDiv {
      max-height: 100%;
      min-height: 100%;
      overflow-y: auto;
      background-color: white;

      table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: none !important;

        tbody tr {
          td.senddetails i {
            display: inline-block;
            cursor: pointer;
          }

          &.mat-row:hover {
            background-color: #007CB826;
          }

          &.mat-row.selectedrow {
            background-color: #007CB826;
          }
        }

        td.mat-cell {
          position: relative;
        }

        td.senddetails {
          width: 6%;

          i {
            display: none;
          }
        }

        mat-icon.mat-icon {
          vertical-align: middle;
          color: black;
        }

        mat-checkbox {
          label {
            margin: 0px;
          }
        }
      }
    }
  }
}

/*HIDE SCROLLBAR LIST FILE SHARING*/
.tableDiv::-webkit-scrollbar {
  display: none;
}
.tableDiv {
  -ms-overflow-style: none;
}
/*HIDE SCROLLBAR LIST FILE SHARING*/

.sidebarFileSharing {
  #share-tab-content  { 
    mat-form-field.share-search,
    mat-form-field.set-password {
      .mat-form-field-flex > .mat-form-field-infix {
        padding: 0px;
        border-top-width: 0em;
      }
      .mat-form-field-label-wrapper { 
        top: -1em; 
        left: 2em;
      }
    }
    .mat-form-field-infix {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
      top: 1.4em;
      left: 0.5em;
    }
    .mat-focused .placeholder {
      color: transparent;
    }
    .share-search .mat-input-element {
      width: 74%;
      min-width: 43%;
      vertical-align: middle;
    }
    .set-password .mat-input-element {
      width: 84%;
      min-width: 43%;
      vertical-align: middle;
    }
  }
}

/* vFlow - mat-menu-panel conflict */
@mixin vFlowEnabledGroupsCustomSelect() {
  $tooltipColor: #007789;    
  $hover-color: #00B9B3;
  .mat-menu-panel {
      min-width: 14.8vw; //12.6vw;
      //max-width: 12.6vw;
      background-color: $tooltipColor;
      border-radius: 0;
      min-height: auto;
  }
  .mat-menu-item {
      color: white;
      height: 30px;
      align-items: center;
      display: flex;
      &:focus { outline: none; }
  }
  .mat-menu-content:not(:empty) {
      padding-top: 1px;
      padding-bottom: 1px;
  }
  
  .mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), 
  .mat-menu-item.cdk-keyboard-focused:not([disabled]), 
  .mat-menu-item-highlighted:not([disabled]) {
      background-color: $hover-color;
  }
}
.vFlowCustomize+* {
  .mat-menu-panel {
      min-width: 12.6vw;
      max-width: 12.6vw;
      background-color: #007789;
      border-radius: 0;
  }
  .mat-menu-item {
      color: white;
      height: 30px;
  }
  .mat-menu-content:not(:empty) {
      padding-top: 1px;
      padding-bottom: 1px;
  }

  .mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), 
  .mat-menu-item.cdk-keyboard-focused:not([disabled]), 
  .mat-menu-item-highlighted:not([disabled]) {
      background-color: #00B9B3;
  }

  button {
      &.mat-menu-item {
          align-items: center;
          display: flex;
      }
      &:focus { outline: none; }
  }
}
.vFlowCustomizeEnabledGroups+* {
  @include vFlowEnabledGroupsCustomSelect();
}

.sidebar-signature-100 {
  width: 100% !important;
}

.valign-icon-text {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.default-cancel-btn, .default-save-btn-inactive, .default-save-btn-active {
  width: 164px;
  height: 32px;
  margin: 0;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.58px;
  text-align: center;
  color: #ffffff;
}

.default-save-btn-inactive, .default-save-btn-active {
  padding: 8px 58.5px 8px 59.5px;
  background-image: linear-gradient(to right, #00a59f 0%, #007cb9 100%);
}

.default-cancel-btn {
  padding: 8px 48px;
  color: #228196;
}

.default-save-btn-inactive {
  opacity: 0.35;
}

.default-save-btn-active {
  opacity: 1;
}

.inactive-element {
  opacity: 0.35;
  cursor: default !important;
}

