@media print {
    body * {
        visibility: hidden;
    }

    #backupcode-title-print {
        visibility: visible;
    }
    .authentication-print-zone {    
        visibility: visible;    
    }
}