$Roboto: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

#others-activities {
    height: 100%;
    overflow-y: auto;

    .infinite-scroll-container {
        height: 100%;
        overflow-y: auto;
    }

    [class*="col-"] {
        padding-left: unset;
        padding-right: unset;
    }

    .date {
        padding: 20px;
        color: #2B2B2B;
        font-family: $Roboto;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 21px;
    }
    .date::first-letter {
        text-transform: uppercase;
    }
    .date-prefix {
        font-weight: 500;
    }
    .no-new-data {
        text-align: center;
        color: #2B2B2B;
        font-family: $Roboto;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 18px;
        padding-bottom: 3rem;
    }

    app-no-data{
        width: 80%;
        height: 99%;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
}

