<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>File manager</title>
  <script type="text/javascript" src="../../../ckeditor/editor/js/jquery-1.11.1.min.js"></script>
  <script src="../../../ckeditor/editor/js/editor.js"></script>
  <link href="../../../ckeditor/editor/fileman/css/main.css" rel="stylesheet" type="text/css" />
  <script>
    var filemanager = new FileManager();
    filemanager.Load();
  </script>
</head>

<body>
  <table cellpadding="0" cellspacing="0" id="wraper">
    <tr>
      <td valign="top" id="fileActions">
        <input type="hidden" id="hdViewType" value="list">
        <input type="hidden" id="hdOrder" value="asc">
        <div class="actions">
          <input class="button" type="file" name="fileUploads" id="fileUploads" onchange="UploadFile()""  style="display: none;" />
          <label class="button" for="fileUploads">Aggiungi file</label>
          <input class="button" type="button" id="btnDeleteFile" value="Elimina" title="Elimina"
            onclick="DeleteFile()" />
          <input class="button" type="button" id="btnSelectFile" value="Seleziona" title="Seleziona file"
            onclick="SelectFile(this)" />
          <br>

        </div>
        <div class="pnlFiles">
          <div id="loading">
            <img src="../../../ckeditor/editor/fileman/images/loading.gif">
          </div>
          <div class="scrollPane">
            <div id="pnlEmptyDir">
              Non ci sono immagini
            </div>
            <ul id="pnlFileList" style="list-style: none;width: fit-content;padding: 10px;margin: 0;">

            </ul>
          </div>
        </div>
      </td>
    </tr>

  </table>

  


</body>

</html>